@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
/* Exo */

@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');
/* Hind */

@import url('https://fonts.googleapis.com/css?family=Overlock&display=swap');
/* Overlock */

/* Homepage Styling */
html{
	overflow-x: hidden;
	  background-color: black;
}
a{
	text-decoration: none;
	color: white;
	transition: 0s;
}
.top{
	text-align: center;
	color: white;
	font-family: 'Exo', sans-serif;
	min-width: 240px;
}
.top img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	min-width: 235px;
}
.top h1{
	font-size: 180pt;
	margin-top: 70px;
	margin-bottom: 0;
}
.top h2{
	font-size: 90pt;
	margin-top: -70px;
	margin-bottom: 10px;
	letter-spacing: 6pt;
}
.top h3{
	font-size: 30pt;
	margin-top: -15px;
	letter-spacing: 3pt;
}
#line{
	background-color: white;
	display: inline-block;
	width: 600px;
	height: 10px;
}
.content{
	display: flex;
	margin-top: 60px;
	min-width: 235px;
}
.content div{
	display: inline-block;
	width: 30%;
	flex: 1;
	text-align: center;
	color: white;
	font-family: 'Exo', sans-serif;
}
.content h1{
	font-size: 25pt;
}
.content h2{
	font-size: 12pt;
}
.content .border-wrap{
	border: 5px solid rgba(255, 255, 255, 0.7);
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 2%;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	transition-duration: 2s;
	min-width: 230px;
}
.content .border-wrap:hover{
	padding-left: 12%;
	padding-right: 12%;
	padding-bottom: 4%;
	padding-top: 2%;
	border: 5px solid rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.7);
	transition-duration: 1s;
}

/* Reflection Styling */
#reflec-back{
  text-align: center;
	color: white;
	font-family: 'Exo', sans-serif;
  font-size: 100pt;
  position: fixed;
  margin-left: 30px;
  margin-top: -95px;
}
#reflec-line{
	background-color: white;
	display: inline-block;
	width: 600px;
	height: 10px;
}
.reflec-top{
	text-align: center;
	color: white;
	font-family: 'Exo', sans-serif;
}
.reflec-top img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
	width: 100%;

}
.reflec-top h1{
	font-size: 140pt;
  margin-top: 40px;
  margin-bottom: 0;
}
.blog{
  text-align: center;
	color: white;
	font-family: 'Exo', sans-serif;
}
.blog h1{
  font-size: 40pt;
  margin-top: 15px;
  padding-bottom: 0;
}
.blog p{
  font-size: 16pt;
  margin-left: 5%;
  margin-right: 5%;
}
.blog-backwrap{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 30px;

	box-shadow:
   -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
     1px 1px 0 white;
}
.blog .landscape{
	width: 52vw;
	padding-top: 10px;
	padding-bottom: 30px;
}
.blog .portrait{
	width: 20vw;
	padding-top: 10px;
	padding-bottom: 30px;
}

/* Guessing Game Styling */
#game-html{
	overflow-x: hidden;
	  background-color: black;
	text-decoration: none;
	color: white;
  text-shadow
	transition: 0s;
  text-align: center;
	font-family: 'Exo', sans-serif;
  font-size: 40pt;
  background-image: url(images/boat1.jpg);
  background-size: cover;
	background-repeat: no-repeat;


}
#game-body{
 margin-top: 200px;
 min-width: 440px;
}
#game-back{
  text-align: center;
	color: white;
	font-family: 'Exo', sans-serif;
  font-size: 100pt;
  position: fixed;
  top: -120px;
	left: 15px;
}
#title{
	margin-top: -100px;
	text-shadow:
	 -2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		 2px 2px 0 #000;
}
#game-line{
	background-color: white;
	display: inline-block;
	width: 600px;
	height: 10px;
	margin-bottom: 100px;
}
.gap h3{
	margin-top: 0;
}
input{
  width: 50%;
  height: 50px;
  font-size: 30pt;
	border-radius: 20px;
	padding-left: 15px;
	min-width: 230px;
}
button{
  width: 150px;
  height: 50px;
  font-size: 12pt;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transition: 0.5s;
    border: 0;
}
button:hover{
  color: white;
  background-color: rgba(0, 0, 0, 1);
  transition: 0.5s;
}

@media (max-width: 1000px){
	/* Homepage Styling */
	.content{
		flex-direction: column;
		align-items: center;
	}
	.content div{
		margin-bottom: 30px;
		width: 70%;
	}

	.content .border-wrap{
	}
	.content .border-wrap:hover{
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 7%;
		padding-top: 3%;
	}
	#line{
		width: 80%;
	}
	.top h1{
		font-size: 25vw;
		margin-top: 5vw;
		margin-bottom: 6vw;
		padding: 0;
	}
	.top h2{
		font-size: 10vw;
		letter-spacing: 6pt;
	}
	.top h3{
		font-size: 5vw;
		letter-spacing: 3pt;
	}

/* Reflection Styling */
	.reflec-top h1{
		font-size: 16vw;
	}
	.blog h1{
	  font-size: 7vw;
	}
	.blog p{
	  font-size: 3vw;
	}
	.blog-backwrap{
	  margin-left: 7%;
	  margin-right: 7%;
	}
	#reflec-back{
		position: relative;
	  font-size: 25vw;
	  margin-top: -18vw;
		margin-left: 0;
		text-align: left;
	}
	#reflec-line{
		width: 65vw;
		height: 10px;
		margin-top: 4.5vw;
	}
	.blog{
	  margin-top: -75px;
	}
	.blog .landscape{
		width: 70vw;
	}
	.blog .portrait{
		width: 40vw;
		padding-top: 10px;
		padding-bottom: 30px;
	}

/* Guessing Game Styling */
	#title{
		font-size: 48pt;
		margin-top: -100px;
	}
	input{
	  width: 50%;
	  height: 50px;
	  font-size: 18pt;
		border-radius: 20px;
		padding-left: 15px;
	}
	.gap{
		margin-top: -80px;
	}
	.gap h3{
		font-size: 30pt;
	}
	.gap h4{
		font-size: 24pt;
	}
}

@media (max-width: 630px){
	/* Guessing Game Styling */
	#game-line{
		width: 75%;
	}
@media (max-width: 500px){
	/* Homepage Styling */
	.top h2{
		margin-top: -20px;
		white-space: nowrap;
	}
}

@media (max-width: 440px){
	/* Guessing Game Styling */
	.gap h3{
		font-size: 22pt;
	}
	.gap h4{
		font-size: 16pt;
	}
	.gap{
		margin-bottom: 200px;
	}
}

@media (max-width: 395px){
	/* Homepage Styling */
	.content h1{
		font-size: 15pt;
	}
	.content h2{
		font-size: 6pt;
	}
	.content .border-wrap{
		border: 5px solid rgba(255, 255, 255, 0.7);
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 2%;
		border-radius: 10px;
		background-color: rgba(0, 0, 0, 0.2);
		transition-duration: 2s;
		min-width: 0px;
	}
}
